*{
    margin: 0 auto;
    font-size: 1.6vh;
}
h1{
    font-size: 300%;
}

h2{
    font-size: 200%;
}

h3{
    font-size: 150%;
}

a{
    text-decoration: none;
    color:inherit;
    font-size: 200%;
}

html{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient( 0.95turn, rgba(250,50,50,0.7), rgba(0,0,0,0.9), rgba(250,50,50,0.7));
    background-repeat: no-repeat;
    color: whitesmoke;
}

header{
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: black;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 100%;    
}

.scoreboard{   
   width:30%; 
   text-align: start;
}

.timer-display{
   font-size: 200%;
   text-align: end;
   width: 30%;    
}

ul{
    display: flex;
    justify-content: flex-start;
    flex: 1 0 50%;
}

.question-slot{
    margin: 0 auto;
    padding: 3rem;
}

li{
    margin: 0 auto;
    padding: 3rem;
}
